.container {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.pageButton {
  padding: 8px 14px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: rgb(0, 0, 0);
}

.pageButton:hover {
  background-color: #007bff;
  color: rgb(0, 0, 0);
  border-color: #007bff;
}
